<!DOCTYPE html>
<html lang="en" ng-app="testApp">
<head>
	<meta charset="UTF-8" />
	<title>Experiment: storage</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<style>

#drawdiv {
	position: absolute;
	top: 0;
	left: 0;
	right: 20%;
	bottom: 0;
}
#datadiv {
	position: absolute;
	top: 0;
	left: 80%;
	right: 0;
	bottom: 0;
	border: 1px solid green;
}

	</style>
</head>
<body ng-controller="Ctrl">
	<div id="drawdiv"">
		<canvas id="canvas">
		</canvas>
	</div>
	<div id="datadiv">
		<div>
			{{path}}
			<input type="number" ng-model="ii">
			<button ng-click="zoomInClick()">Zoom In</button>
			<button ng-click="zoomOutClick()">Zoom Out</button>
		</div>
		<div>
			<button ng-click="saveClick()">Save</button>
		</div>
	</div>	<script src="piece.js"></script>
	<script>
"use strict"
angular.module('testApp', []).controller('Ctrl', function ($scope) {

$scope.ii = 0;
$scope.path = [24, 24];

var canvas = document.getElementById('canvas');
var ctx = canvas.getContext('2d');
window.addEventListener('resize', resizeListener);
resize();

var worker = new Worker('worker.js');

var piecesToDraw = [];
var backgroundPiece = null;

var levelData = createData(-0.7436424932257446, 0.1318316199009883, 5000000, 3);
var currentLevel = levelPath($scope.path);
initLevel();

var draggingPiece = null;
var selectedPiece = null;
var mouseOffsetX, mouseOffsetY;

canvas.onmousedown = function (e) {
	var mouseX = e.clientX - canvas.width/2;
	var mouseY = e.clientY - canvas.height/2;
	for (var i=piecesToDraw.length; --i>=0;) {
		var ht = piecesToDraw[i].hitTest(mouseX, mouseY);
		if (ht) {
			mouseOffsetX = ht.x;
			mouseOffsetY = ht.y;
			if (selectedPiece == piecesToDraw[i]) {		// double-click
				zoomIn(selectedPiece.levelData.path);
				break;
			}
			selectedPiece = piecesToDraw[i];
			setTimeout(function () { selectedPiece = null; }, 300);
			
			if (event.ctrlKey) {
				piecesToDraw[i].levelData.cx = piecesToDraw[i].levelData.fx;
				piecesToDraw[i].levelData.cy = piecesToDraw[i].levelData.fy;
				piecesToDraw[i].levelData.inPlace = true;
				var temp = piecesToDraw[i];
				piecesToDraw.splice(i, 1);			// move piece
				piecesToDraw.unshift(temp);			//  to bottom
				if (checkLevelDone()) {
					zoomOut();
				}
			} else {
				if (!piecesToDraw[i].levelData.inPlace) {
					draggingPiece = piecesToDraw[i];
					piecesToDraw.splice(i, 1);			// move touched piece
					piecesToDraw.push(draggingPiece);	//  to top
					draggingPiece.levelData.inPlace = false;
					draggingPiece.levelData.cx = mouseX + mouseOffsetX;
					draggingPiece.levelData.cy = mouseY + mouseOffsetY;
				}
			}
			event.preventDefault();
			break;
		}
	}
	redraw();
}

canvas.onmousemove = function (e) {
	if (draggingPiece != null) {
		var mouseX = e.clientX - canvas.width/2 + mouseOffsetX;
		var mouseY = e.clientY - canvas.height/2 + mouseOffsetY;
		draggingPiece.levelData.cx = mouseX;
		draggingPiece.levelData.cy = mouseY;
		redraw();
		event.preventDefault();
	}
}

canvas.onmouseup = function (e) {
	if (draggingPiece != null) {
		var mouseX = e.clientX - canvas.width/2 + mouseOffsetX;
		var mouseY = e.clientY - canvas.height/2 + mouseOffsetY;
		draggingPiece.levelData.cx = mouseX;
		draggingPiece.levelData.cy = mouseY;
		if (Math.abs(draggingPiece.levelData.fx - mouseX) < 13 &&
			Math.abs(draggingPiece.levelData.fy - mouseY) < 13) {
				draggingPiece.levelData.cx = draggingPiece.levelData.fx;
				draggingPiece.levelData.cy = draggingPiece.levelData.fy;
				piecesToDraw.pop();							// move piece
				piecesToDraw.unshift(draggingPiece);		//  to bottom
				draggingPiece.levelData.inPlace = true;
		}
		redraw();
		draggingPiece = null;
		event.preventDefault();
		if (checkLevelDone()) {
			zoomOut();
		}
	}
}

$scope.zoomInClick = function() {
	$scope.path.push(ii);
	currentLevel = levelPath($scope.path);
	if (currentLevel != null) {
		initLevel();
	} else {
		alert('Could not find');;;
	}
	zoomIn($scope.path);
	redraw();
}

$scope.zoomOutClick = function () {
	zoomOut();
	redraw();
}

function checkLevelDone() {
	for (var i=1; i<piecesToDraw.length; ++i) {
		if (!piecesToDraw[i].levelData.inPlace) {
			return false;
		}
	}
	return true;
}

function levelPath(path) {
	var level = levelData;
	for (var i=0; i<path.length; ++i) {
		level = level.children[path[i]];
	}
	return level;
}

function initLevel(priorityLevel) {
// for currentLevel, create Piece objects for backgroundPiece and piecesToDraw.
// priorityLevel is moved to the front of the worker render queue.

	for (var i=0; i<piecesToDraw.length; ++i) {	// preserve drawing order
		piecesToDraw[i].levelData.zOrder = i;	//  of old current level
	}

	var children = currentLevel.children || [];
	var bigPiece = new Piece(4);
	bigPiece.xorRect(0, 0, bigPiece.wholeSide, bigPiece.wholeSide, 255, 255, 200, 0);
	bigPiece.makePiece(currentLevel.u0, currentLevel.v0, currentLevel.du, currentLevel.dv);
	bigPiece.outline();
	bigPiece.toImg();
	bigPiece.levelData = {cx: 0, cy: 0};
	backgroundPiece = bigPiece;
	piecesToDraw = [];

	for (var i=0; i<children.length; ++i) {
		var c = children[i];
		if (c == null) {
			continue;
		}
		var piece = new Piece(3);
		piece.levelData = c;
		var color = c.isComplete ? 100 : 210;
		piece.xorRect(0, 0, piece.wholeSide, piece.wholeSide, 255, color, color, 0);
		piece.makePiece(c.u0, c.v0, c.du, c.dv);
		piece.inoutline();
		piece.toImg();
		piecesToDraw.push(piece);
	}
	piecesToDraw.sort(function (a, b) { return a.levelData.zOrder - b.levelData.zOrder; });
	redraw();
	
	var piecesForWorker = [];
	for (var i=0; i<piecesToDraw.length; ++i) {
		piecesToDraw[i].rendered = false;
		if (piecesToDraw[i].levelData.isComplete) {
			piecesToDraw[i].randomizer = Math.random();
			if (piecesToDraw[i].levelData == priorityLevel) {
				piecesToDraw[i].randomizer = -1;
			}
			piecesForWorker.push(piecesToDraw[i]);
		}
	}
	piecesForWorker.sort(function (a, b) { return a.randomizer - b.randomizer; });

	var iout = 0;
	if (iout < piecesForWorker.length) {
		piece = piecesForWorker[iout];
		var ld = piece.levelData;
		var re = ld.re0 - ld.dre / piece.pieceSide * piece.padding;
		var im = ld.im0 - ld.dim / piece.pieceSide * piece.padding;
		var dre = ld.dre / piece.pieceSide * piece.wholeSide;
		var dim = ld.dim / piece.pieceSide * piece.wholeSide;
		worker.postMessage({path: ld.path, re: re, im: im, dre: dre, dim: dim, w: piece.wholeSide, h: piece.wholeSide, data: piece.imageData.data});
	}

	var iin = 0;
	worker.onmessage = function (event) {
		if (iin < piecesForWorker.length) {	// just in case level changed in the middle
			if (piecesForWorker[iin].levelData == levelPath(event.data.path)) {
				piecesForWorker[iin].imageData = new ImageData(event.data.data, piecesForWorker[iin].wholeSide, piecesForWorker[iin].wholeSide);
				piecesForWorker[iin].inoutline();
				piecesForWorker[iin].toImg();
				piecesForWorker[iin].rendered = true;
				++iin;
			}
		}
		++iout;
		if (iout < piecesForWorker.length) {
			piece = piecesForWorker[iout];
			var ld = piece.levelData;
			var re = ld.re0 - ld.dre / piece.pieceSide * piece.padding;
			var im = ld.im0 - ld.dim / piece.pieceSide * piece.padding;
			var dre = ld.dre / piece.pieceSide * piece.wholeSide;
			var dim = ld.dim / piece.pieceSide * piece.wholeSide;
			worker.postMessage({path: ld.path, re: re, im: im, dre: dre, dim: dim, w: piece.wholeSide, h: piece.wholeSide, data: piece.imageData.data});
		}
		redraw();
	};
}



function resize() {
	var div = document.getElementById('drawdiv');
	canvas.width = div.clientWidth;
	canvas.height = div.clientHeight;
	redraw();
}

var redrawing = false;
var redrawFunction = normalRedraw;

function redraw() {
	if (!redrawing) {
		redrawing = true;
		requestAnimationFrame(function (ms) {
			redrawing = false;
			redrawFunction(ms);
		});
	}
}

function normalRedraw(ms) {
	ctx.save();
	redrawBackground();
	redrawPieces();
	ctx.restore();
}

function redrawBackground() {
	ctx.fillStyle = 'teal';
	ctx.fillRect(0, 0, canvas.width, canvas.height);
	ctx.translate(canvas.width/2, canvas.height/2);
	if (backgroundPiece) {
		backgroundPiece.draw(ctx);
	}
}

function redrawPieces() {
	for (var i=0; i<piecesToDraw.length; ++i) {
		piecesToDraw[i].draw(ctx);
	}
}

function easeInOutQuad(t, b, c, d) {
	t /= d/2;
	if (t < 1) return c/2*t*t + b;
	t--;
	return -c/2 * (t*(t-2) - 1) + b;
}

var easingFunction = easeInOutQuad;

var pauseTime = 333;
var zoomTime = 1500;
var zoomInLevel;

function zoomIn(path) {
	zoomInLevel = levelPath(path);
	redrawFunction = zoomInLevel.isComplete ? zoomInRedrawComplete : zoomInRedrawBlank;
}

function zoomInRedrawBlank(ms) {
// zoom in on a not-completed piece
	var startTime = ms;
	var ziPieceToDraw;
	var startX, startY;
	var ziScale, ziX, ziY;
	
	currentLevel = zoomInLevel;
	initLevel();
	ziX = startX = currentLevel.cx;
	ziY = startY = currentLevel.cy;
	ziScale = 0.2;
	redrawFunction = pauseBeforeZoom;
	drawStuff();
	
	function pauseBeforeZoom(ms) {
		var t = ms - startTime;
		if (t > pauseTime) {
			redrawFunction = zoomingIn;
		}
		drawStuff();
	}
	
	function zoomingIn(ms) {
		var t = ms - startTime - pauseTime;
		if (t > zoomTime) {
			t = zoomTime;
			redrawFunction = done;
		}
		var s = easingFunction(t/zoomTime, 0, 1, 1);
		ziScale = 0.2 + s * 0.8;	// 0.2..1
		ziX = startX - s * startX;
		ziY = startY - s * startY;
		drawStuff();
	}
	
	function done(ms) {
		redrawFunction = normalRedraw;
		redraw();
	}
	
	function drawStuff() {
		ctx.save();
		ctx.fillStyle = 'teal';
		ctx.fillRect(0, 0, canvas.width, canvas.height);
		ctx.translate(canvas.width/2, canvas.height/2);
		ctx.translate(ziX, ziY);
		ctx.scale(ziScale, ziScale);
		backgroundPiece.draw(ctx);
		ctx.restore();
		redraw();
	}
}

function zoomInRedrawComplete(ms) {
// zoom in on a completed piece
	var startTime = ms;
	var ziPieceToDraw;
	var startX, startY;
	var ziScale, ziX, ziY;
	
	for (var i=0; i<piecesToDraw.length; ++i) {	// find the piece being zoomed
		if (zoomInLevel == piecesToDraw[i].levelData) {
			ziPieceToDraw = piecesToDraw[i];
			ziScale = 1;
			ziX = startX = piecesToDraw[i].levelData.cx;
			ziY = startY = piecesToDraw[i].levelData.cy;
			break;
		}
	}
	piecesToDraw = [];
	backgroundPiece = null;
	redrawFunction = pauseBeforeZoom;
	currentLevel = zoomInLevel;
	initLevel();
	drawStuff();
	
	ziX = startX = currentLevel.cx;
	ziY = startY = currentLevel.cy;
	ziScale = 0.2;
	redrawFunction = pauseBeforeZoom;
	drawStuff();
	
	function pauseBeforeZoom(ms) {
		var t = ms - startTime;
		if (t > pauseTime) {
			redrawFunction = zoomingIn;
		}
		drawStuff();
	}
	
	function zoomingIn(ms) {
		var t = ms - startTime - pauseTime;
		if (t > zoomTime) {
			t = zoomTime;
			redrawFunction = waitTillAllRendered;
		}
		var s = easingFunction(t/zoomTime, 0, 1, 1);
		ziScale = 1 + s * 4;		// 1..5
		ziX = startX - s * startX;
		ziY = startY - s * startY;
		drawStuff();
	}

	var allRendered = false;
	
	function waitTillAllRendered(ms) {
		if (allRendered) {
			redrawFunction = done;
		}
		drawStuff();
	}
	
	function done(ms) {
		redrawFunction = normalRedraw;
		redraw();
	}
	
	function drawStuff() {
		ctx.save();
//		redrawBackground();
		ctx.fillStyle = 'teal';
		ctx.fillRect(0, 0, canvas.width, canvas.height);
		ctx.translate(canvas.width/2, canvas.height/2);
		ctx.save();
		ctx.translate(ziX-ziPieceToDraw.levelData.cx * ziScale,
						ziY-ziPieceToDraw.levelData.cy * ziScale);
		ctx.scale(ziScale, ziScale);
		ziPieceToDraw.draw(ctx);
		ctx.restore();
		allRendered = true;
		for (var i=0; i<piecesToDraw.length; ++i) {
			if (piecesToDraw[i].rendered) {
				piecesToDraw[i].draw(ctx);
			} else {
				allRendered = false;
			}
		}
		ctx.restore();
		redraw();
	}
}

function zoomOut() {
	if ($scope.path.length > 0) {
		currentLevel.isComplete = checkLevelDone();
		redrawFunction = zoomOutRedraw;
	}
}



function zoomOutRedraw(ms) {
	var startTime = ms;
	var wait;
	var zoPiecesToDraw = [];
	var zoScale, zoX, zoY;

	var destX = currentLevel.cx;
	var destY = currentLevel.cy;

	var level = currentLevel;
	
	redrawFunction = pauseBeforeZoom;
	drawStuff();
	
	function pauseBeforeZoom(ms) {
		var t = ms - startTime;
		if (t > pauseTime) {
			redrawFunction = zoomingOut;
			if (currentLevel.isComplete) {
				zoPiecesToDraw = piecesToDraw;
				wait = true;
			} else {
				zoPiecesToDraw = [backgroundPiece];
				for (var i=0; i<piecesToDraw.length; ++i) {
					if (piecesToDraw[i].levelData.inPlace) {
						zoPiecesToDraw.push(piecesToDraw[i]);
					}
				}
				wait = false;
			}
			piecesToDraw = [];
			backgroundPiece = null;
		}
		drawStuff();
	}
	
	function zoomingOut(ms) {
		var t = ms - startTime - pauseTime;
		if (t > zoomTime) {
			t = zoomTime;
			redrawFunction = loadNextLevel;
		}
		var s = easingFunction(t/zoomTime, 0, 1, 1);
		zoScale = 1 - s * 0.8;		// 1..0.2
		zoX = destX * s;
		zoY = destY * s;
		drawStuff();
	}
	
	function loadNextLevel(ms) {
		zoScale = 0.2;
		zoX = destX;
		zoY = destY;
		currentLevel = levelPath(currentLevel.path.slice(0, -1));
		initLevel(level);
		redrawFunction = waitForPiece;
		drawStuff();
	}
	
	function waitForPiece(ms) {
		if (wait) {
			for (var i=0; i<piecesToDraw.length; ++i) {
				if (piecesToDraw[i].levelData == level && piecesToDraw[i].rendered) {
					zoPiecesToDraw = [];
					redrawFunction = normalRedraw;
				}
			}
		} else {
			zoPiecesToDraw = [];
			redrawFunction = normalRedraw;
		}
		drawStuff();
	}
	
	function drawStuff() {
		ctx.save();
		redrawBackground();
		redrawPieces();	
		ctx.translate(zoX, zoY);
		ctx.scale(zoScale, zoScale);
		for (var i=0; i<zoPiecesToDraw.length; ++i) {
			zoPiecesToDraw[i].draw(ctx);
		}

		ctx.restore();
		redraw();
	}
}

function resizeListener(e) {
	resize();
}

function createData(re, im, zoom, levels) {
	var re0 = re - 2/zoom;
	var im0 = im + 2/zoom;
	var dre = 4 / zoom;
	var dim = -4 / zoom;
	return createDataHelper([], re0, im0, dre, dim, 100, 230, 625, 625, 0, 0, 0, 0, 0, levels);
	
	function createDataHelper(path, re0, im0, dre, dim, u0, v0, du, dv, cx, cy, fx, fy, rot, levels) {
		var levelData = {
			path: path.slice(),	// *copy* of path
			re0: re0,
			im0: im0,
			dre: dre,
			dim: dim,
			u0: u0,
			v0: v0,
			du: du,
			dv: dv,
			cx: cx,		// current position
			cy: cy,
			fx: fx,		// final position
			fy: fy,
			rot: rot,
			zOrder: 0,
			inPlace: false
		};
		
		if (levels == 0) {
			levelData.isComplete = true;
			levelData.children = null;
		} else {
			levelData.isComplete = false;
			levelData.children = [];

			var piece = new Piece(1);
			piece.makePiece(u0, v0, du, dv);

			dre /= 5;
			dim /= 5;
			du /= 5;
			dv /= 5;
			for (var i=-1; i<=5; ++i) {
				var v = v0 + i * dv;
				var im = im0 + i * dim;
				fy = (i - 2) * 125;
				for (var j=-1; j<=5; ++j) {
					var u = u0 + j * dv;
					var re = re0 + j * dre;
					fx = (j - 2) * 125;
					cx = (Math.random() - 0.5) * 7 * 125;
					cy = (Math.random() - 0.5) * 7 * 125;
					if (piece.get(piece.padding+j, piece.padding+i).a) {
						path.push(levelData.children.length);
						levelData.children.push(createDataHelper(path, re, im, dre, dim, u, v, du, dv, cx, cy, fx, fy, rot, levels-1));
						path.pop();
					} else {
						levelData.children.push(null);
					}
				}
			}
		}
		return levelData;
	}
}
});
	</script>
</body>
</html>
